# 选取数据子集

In [2]:
import pandas as pd
import numpy as np

## 选取 series 数据

In [3]:
college = pd.read_csv('college.csv', index_col='instnm')
city = college['city']
city.head()

instnm
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: city, dtype: object

In [4]:
# iloc 可以通过整数选取
city.iloc[3]

'Huntsville'

In [5]:
# iloc 通过整数列表选取多行，返回结果是 series
city.iloc[[10, 20, 30]]

instnm
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Name: city, dtype: object

In [6]:
# 选择等分的数据，可以使用切片语法
city.iloc[4:50:10]

instnm
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: city, dtype: object

In [7]:
# loc 只接受行索引标签
city.loc['Heritage Christian University']

'Florence'

In [8]:
# 随机选择4个标签
np.random.seed(1)  # # 设置随机种子为1，保证每次运行结果一致
labels = list(np.random.choice(city.index, size=4)) # # 从city的索引中随机选4个
labels

['Northwest HVAC/R Training Center',
 'California State University-Dominguez Hills',
 'Lower Columbia College',
 'Southwest Acupuncture College-Boulder']

In [9]:
# 通过标签列表选择多行
city.loc[labels]

instnm
Northwest HVAC/R Training Center                Spokane
California State University-Dominguez Hills      Carson
Lower Columbia College                         Longview
Southwest Acupuncture College-Boulder           Boulder
Name: city, dtype: object

In [10]:
# 也可以通过切片语法均匀选择多个
city.loc['Alabama A & M University':'Reid State Technical College':10]

instnm
Alabama A & M University                                   Normal
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Northeast Alabama Community College                    Rainsville
Name: city, dtype: object

In [11]:
# 也可以不使用 loc,直接使用类似 pytho 的语法
city['Alabama A & M University':'Reid State Technical College':10]

instnm
Alabama A & M University                                   Normal
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Northeast Alabama Community College                    Rainsville
Name: city, dtype: object

In [12]:
# 要想只选取一项，并保留其 series 类型，则传入一个只包含一项的列表
city.iloc[[3]]

instnm
University of Alabama in Huntsville    Huntsville
Name: city, dtype: object

In [13]:
# 使用 loc 切片时要注意，如果 start 索引再 stop 索引之后，则返回空，并且不会报警
city.loc['Reid State Technical College':'Alabama A & M University':10]

Series([], Name: city, dtype: object)

In [14]:
# 也可以切片逆序选取
city.loc['Reid State Technical College':'Alabama A & M University':-10]

instnm
Reid State Technical College           Evergreen
Marion Military Institute                 Marion
Heritage Christian University           Florence
Enterprise State Community College    Enterprise
Alabama State University              Montgomery
Name: city, dtype: object

## 选取 dataframe 的行

In [15]:
import pandas as pd
import numpy as np

In [16]:
college = pd.read_csv('college.csv', index_col='instnm')
college.head()

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [17]:
# 选取第61行
pd.options.display.max_columns = 6
college.iloc[60]

city                  Anchorage
stabbr                       AK
hbcu                        0.0
menonly                     0.0
womenonly                   0.0
relaffil                      0
satvrmid                    NaN
satmtmid                    NaN
distanceonly                0.0
ugds                    12865.0
ugds_white               0.5747
ugds_black               0.0358
ugds_hisp                0.0761
ugds_asian               0.0778
ugds_aian                0.0653
ugds_nhpi                0.0086
ugds_2mor                 0.098
ugds_nra                 0.0181
ugds_unkn                0.0457
pptug_ef                 0.4539
curroper                      1
pctpell                  0.2385
pctfloan                 0.2647
ug25abv                  0.4386
md_earn_wne_p10           42500
grad_debt_mdn_supp      19449.5
Name: University of Alaska Anchorage, dtype: object

In [18]:
# 也可以通过行标签选取
college.loc['University of Alaska Anchorage']

city                  Anchorage
stabbr                       AK
hbcu                        0.0
menonly                     0.0
womenonly                   0.0
relaffil                      0
satvrmid                    NaN
satmtmid                    NaN
distanceonly                0.0
ugds                    12865.0
ugds_white               0.5747
ugds_black               0.0358
ugds_hisp                0.0761
ugds_asian               0.0778
ugds_aian                0.0653
ugds_nhpi                0.0086
ugds_2mor                 0.098
ugds_nra                 0.0181
ugds_unkn                0.0457
pptug_ef                 0.4539
curroper                      1
pctpell                  0.2385
pctfloan                 0.2647
ug25abv                  0.4386
md_earn_wne_p10           42500
grad_debt_mdn_supp      19449.5
Name: University of Alaska Anchorage, dtype: object

In [19]:
# 选取多个不连续的行
college.iloc[[60, 99, 3]]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,...,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,...,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,...,0.2640,45500,24097

In [20]:
# 也可以用 loc方法选取
labels = ['University of Alaska Anchorage', 
          'International Academy of Hair Design', 
          'University of Alabama in Huntsville']
college.loc[labels]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,...,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,...,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,...,0.2640,45500,24097

In [21]:
# iloc 可以用切片连续获取
college.iloc[99:102]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,...,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,...,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,...,0.4010,35200,8000

In [22]:
# loc 可以用标签连续获取
start = 'International Academy of Hair Design'
stop = 'Mesa Community College'
college.loc[start:stop]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,...,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,...,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,...,0.4010,35200,8000

In [23]:
# .index.tolist() 可以直接提取索引标签，生成一个列表
college.iloc[[60, 99, 3]].index.tolist()

['University of Alaska Anchorage',
 'International Academy of Hair Design',
 'University of Alabama in Huntsville']

## 同时选取 dataframe 的行和列

In [24]:
# 选取前三行和前四列
college.iloc[:3, :4]

                                           city stabbr  hbcu  menonly
instnm
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [25]:
# 用 loc 实现
college.loc[:'Amridge University', :'menonly']

                                           city stabbr  hbcu  menonly
instnm
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [26]:
# 选取两列的所有行
college.iloc[:, [4,6]].head()

                                     womenonly  satvrmid
instnm
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [27]:
# 用 loc 实现
college.loc[: ,['womenonly', 'satvrmid']].head()

                                     womenonly  satvrmid
instnm
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [28]:
# 选取不连续的行和列
college.iloc[[100, 200], [7, 15]]

                                       satmtmid  ugds_nhpi
instnm
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [29]:
# 用 loc 和 列表实现
rows = ['GateWay Community College', 'American Baptist Seminary of the West']
columns = ['satmtmid', 'ugds_nhpi']
college.loc[rows, columns]

                                       satmtmid  ugds_nhpi
instnm
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [30]:
#用 iloc 选取一个标量值
college.iloc[5, -4]

np.float64(0.401)

In [31]:
# 用 loc 实现
college.loc['The University of Alabama', 'PCTFLOAN'.lower()]

np.float64(0.401)

In [32]:
# iloc 对行进行切片，并只选取一列
college.iloc[90:80:-2, 5]

instnm
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: relaffil, dtype: int64

In [33]:
# 用 loc 实现
start = 'Empire Beauty School-Flagstaff'
stop = 'Arizona State University-Tempe'
college.loc[start:stop:-2, 'relaffil']

instnm
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: relaffil, dtype: int64

## 用整数和标签选取数据

In [34]:
# 用索引方法 get_loc 找到指定列的整数位置
col_start = college.columns.get_loc('ugds_white')
col_stop = college.columns.get_loc('ugds_unkn') + 1
col_start, col_stop

(10, 19)

In [35]:
# 用切片选取连续的列
college.iloc[:5, col_start:col_stop]  # 选择前五行

,ugds_white,ugds_black,ugds_hisp,...,ugds_2mor,ugds_nra,ugds_unkn
instnm,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,...,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,...,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,...,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,...,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,...,0.0098,0.0243,0.0137

In [36]:
# index 方法可以获得整数行对应的标签名
row_start = college.index[10]
row_stop = college.index[15]
college.loc[row_start:row_stop, 'ugds_white':'ugds_unkn']  # 选择连续的行和列

,ugds_white,ugds_black,ugds_hisp,...,ugds_2mor,ugds_nra,ugds_unkn
instnm,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,...,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,...,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,...,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,...,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,...,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,...,0.0152,0.0007,0.0009

## 快速选取标量

In [37]:
# 通过将行标签赋值给一个变量， 用 loc 获取
cn = 'Texas A & M University-College Station'
college.loc[cn, 'ugds_white']

np.float64(0.6609999999999999)

In [38]:
# at 可以实现同样的功能
college.at[cn, 'ugds_white']

np.float64(0.6609999999999999)

In [39]:
# 用魔术方法 %timeit， 对速度进行比较
%timeit college.loc[cn, 'ugds_white']

12.3 μs ± 251 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [40]:
%timeit college.at[cn, 'ugds_white']

5.86 μs ± 64.7 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [41]:
# .iat 和 .at 只接收标量值，是专⻔⽤来取代 .iloc 和 .loc 选取标量的

In [42]:
# 用 get_loc 找到整数位置，再进行速度比较
row_num = college.index.get_loc(cn)
col_num = college.columns.get_loc('ugds_white')
row_num, col_num

(3765, 10)

In [43]:
%timeit college.iloc[row_num, col_num]

30.9 μs ± 284 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [44]:
%timeit college.iat[row_num, col_num]

22.6 μs ± 169 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [45]:
%timeit college.iloc[5, col_num]

31.3 μs ± 317 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [46]:
%timeit college.iat[5, col_num]

22.7 μs ± 105 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [47]:
# series 对象也可以用 iat 和 at 选取标量
state = college['STABBR'.lower()]
state.iat[1000]

'IL'

In [48]:
state.at['Stanford University']

'CA'

## 惰性行切片

In [49]:
college[10:20:2]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
Birmingham Southern College,Birmingham,AL,0.0,...,0.0152,44200,27000
Concordia College Alabama,Selma,AL,1.0,...,0.2367,19900,PrivacySuppressed
Enterprise State Community College,Enterprise,AL,0.0,...,0.3399,24600,8273
Faulkner University,Montgomery,AL,0.0,...,0.4589,37200,22000
New Beginning College of Cosmetology,Albertville,AL,0.0,...,0.3933,NaN,5500

In [50]:
# series 也可以进行同样的切片
city = college['CITY'.lower()]
city[10:20:2]

instnm
Birmingham Southern College              Birmingham
Concordia College Alabama                     Selma
Enterprise State Community College       Enterprise
Faulkner University                      Montgomery
New Beginning College of Cosmetology    Albertville
Name: city, dtype: object

In [51]:
# 查看第4002个行索引标签
college.index[4002]

'Spokane Falls Community College'

In [52]:
# series 和 dataframe 都可以用标签进行切片
start = 'Mesa Community College'
stop = 'Spokane Community College'
college[start:stop:1500]

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
Mesa Community College,Mesa,AZ,0.0,...,0.4010,35200,8000
Hair Academy Inc-New Carrollton,New Carrollton,MD,0.0,...,0.5882,15200,9666
National College of Natural Medicine,Portland,OR,0.0,...,NaN,NaN,PrivacySuppressed

In [53]:
city[start:stop:1500]

instnm
Mesa Community College                            Mesa
Hair Academy Inc-New Carrollton         New Carrollton
National College of Natural Medicine          Portland
Name: city, dtype: object

In [54]:
# 惰性切片不能用于列，´只能⽤于DataFrame的⾏和Series，也不能同时选取⾏和列。
college[:10, ['CITY'.lower(), 'STABBR'.lower()]]

InvalidIndexError: (slice(None, 10, None), ['city', 'stabbr'])

In [55]:
# 只能用 loc 和 iloc 选取
first_ten_instnm = college.index[:10]
college.loc[first_ten_instnm, ['CITY'.lower(), 'STABBR'.lower()]]

                                               city stabbr
instnm
Alabama A & M University                     Normal     AL
University of Alabama at Birmingham      Birmingham     AL
Amridge University                       Montgomery     AL
University of Alabama in Huntsville      Huntsville     AL
Alabama State University                 Montgomery     AL
The University of Alabama                Tuscaloosa     AL
Central Alabama Community College    Alexander City     AL
Athens State University                      Athens     AL
Auburn University at Montgomery          Montgomery     AL
Auburn University                            Auburn     AL

## 按照字母切片

In [56]:
college = college.sort_index()
college.head()

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
A & W Healthcare Educators,New Orleans,LA,0.0,...,0.6667,NaN,19022.5
A T Still University of Health Sciences,Kirksville,MO,0.0,...,NaN,219800,PrivacySuppressed
ABC Beauty Academy,Garland,TX,0.0,...,0.8286,NaN,PrivacySuppressed
ABC Beauty College Inc,Arkadelphia,AR,0.0,...,0.4688,PrivacySuppressed,16500
AI Miami International University of Art and Design,Miami,FL,0.0,...,0.3262,29900,31000

In [57]:
pd.options.display.max_rows = 6
college.loc['Sp':'Su']

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
Spa Tech Institute-Ipswich,Ipswich,MA,0.0,...,0.7907,21500,6333
Spa Tech Institute-Plymouth,Plymouth,MA,0.0,...,0.6250,21500,6333
Spa Tech Institute-Westboro,Westboro,MA,0.0,...,0.6882,21500,6333
...,...,...,...,...,...,...,...
Stylemaster College of Hair Design,Longview,WA,0.0,...,0.4510,17000,13320
Styles and Profiles Beauty College,Selmer,TN,0.0,...,0.2400,PrivacySuppressed,PrivacySuppressed
Styletrends Barber and Hairstyling Academy,Rock Hill,SC,0.0,...,0.3529,PrivacySuppressed,9495.5

In [58]:
# 可以⽤is_monotonic_increasing或is_monotonic_decreasing检验字母顺序的排序
college = college.sort_index(ascending=False)
college.index.is_monotonic_decreasing

True

In [59]:
# 字母逆序选取
college.loc['E':'B']

,city,stabbr,hbcu,...,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,
Dyersburg State Community College,Dyersburg,TN,0.0,...,0.3097,26800,7475
Dutchess Community College,Poughkeepsie,NY,0.0,...,0.1806,32500,10250
Dutchess BOCES-Practical Nursing Program,Poughkeepsie,NY,0.0,...,0.5430,36500,9500
...,...,...,...,...,...,...,...
BJ's Beauty & Barber College,Auburn,WA,0.0,...,0.2917,NaN,PrivacySuppressed
BIR Training Center,Chicago,IL,0.0,...,0.6741,PrivacySuppressed,15394
B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,...,0.4444,PrivacySuppressed,PrivacySuppressed